<div class="header-top">
  <div class="header-top-container">
    <a href="" class="header-logo">
      <img
        [style.maxWidth.px]="'1090'"
        id="logo"
        src="../../../../../assets/img/logo/kyma.jpg"
        alt=""
      />
    </a>
    <div class="header-search flex">
      <input
        [(ngModel)]="searchTerm"
        class="header-input-search"
        placeholder="Tìm kiếm"
      />
      <button (click)="search()" class="header-btn-search" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div *ngFor="let result of searchResults">
      {{ result.name }}
    </div>
    <div class="header-right flex">
      <a (click)="handleSignIn()" class="header-signIn flex">
        <div class="header-avt">
          <img
            id="header-avt"
            src="../../../../../assets/img/logo/kyma.jpg"
            alt=""
          />
        </div>

        <div class="header-signIn">
          <!-- CHƯA ĐĂNG NHẬP -->
          <div
            *ngIf="!isSignHidden && !isLoggedIn"
            class="notSignInHidden flex"
          >
            <h3 [style.marginTop.px]="'10'">Đăng nhập tài khoản</h3>
            <button
              (click)="changeDirectLogin()"
              [style.color]="'#fff'"
              [style.background]="'#f15928'"
            >
              Đăng nhập
            </button>
            <button (click)="changeDirectLogin()">Tạo tài khoản</button>
          </div>

          <!-- ĐÃ ĐĂNG NHẬP -->
          <ul *ngIf="!isSignHidden && isLoggedIn" class="signInHidden flex">
            <li [routerLink]="['/change-password']">
              <a href="">Đổi mật khẩu</a>
            </li>
            <li (click)="SignOut()"><a href="">Đăng xuất</a></li>
          </ul>

          <!--  -->
          <div [style.textAlign]="'center'">
            <div *ngIf="!isLoggedIn">Đăng nhập</div>
            <div>Tài khoản</div>
          </div>
          <mat-icon *ngIf="isSignHidden">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!isSignHidden">keyboard_arrow_up</mat-icon>
        </div>
      </a>

      <a class="header-shopping flex">
        <div [style.display]="'flex'" class="shopping-cart">
          <mat-icon>shopping_cart</mat-icon>
          <span id="header-cart-count">{{ cartItems.length }}</span>
        </div>
        <div [routerLink]="['/cart']">Giỏ Hàng</div>
        <mat-icon class="cart-button-show">keyboard_arrow_down</mat-icon>
        <mat-icon class="cart-button-hidden">keyboard_arrow_up</mat-icon>

        <div class="cart-hidden flex">
          <div class="cart-title">Sản phẩm trong giỏ hàng</div>
          <ul class="cart-list">
            <li class="flex" *ngFor="let item of cartItems">
              <ng-container *ngIf="item.quanities > 0">
                <img [src]="item.imageUrl" alt="" />
                <div>
                  <div
                    [style.flex-direction]="'column'"
                    class="cart-list-text flex"
                  >
                    {{ item.title }}
                  </div>
                  <p
                    [style.display]="'inline'"
                    [style.color]="'#f7941d'"
                    class="cart-list-text flex"
                  >
                    {{ item.price | priceFormat }} VNĐ
                  </p>
                  <span>x {{ item.quanities }}</span>
                </div>
              </ng-container>
            </li>
          </ul>

          <div class="cart-button-pay flex">
            <a [routerLink]="['/cart']">Giỏ Hàng</a>
            <a [routerLink]="['/cart']">Thanh Toán</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
