<div class="header-bottom">
  <div class="header-bottom-container">
    <ul class="header-nav flex">
      <li
        (mouseleave)="hideAllSubmenus()"
        *ngFor="let category of categories"
        class="header-nav-item camera"
      >
        <div class="box-menu-home">
          <a
            (click)="onSelectCategory(category)"
            class="product-type-directive flex"
          >
            {{ category.title }}
            <mat-icon *ngIf="selectedCategory !== category"
              >arrow_drop_down</mat-icon
            >
            <mat-icon *ngIf="selectedCategory === category"
              >arrow_drop_up</mat-icon
            >
          </a>
        </div>
        <ng-container *ngIf="selectedCategory === category">
          <ul (mouseleave)="hideAllSubmenus()" class="nav-hidden flex">
            <li
              class="nav-hidden-item"
              *ngFor="let path of category.paths"
              [routerLink]="['/products/path', path.name]"
            >
              <a class="nav-hidden-directive">{{ path.title }}</a>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
