<div class="product-admin-container">
  <div class="product-header flex">
    <h1>Sản Phẩm</h1>
    <button [routerLink]="'/admin/add-product'">Thêm Sản Phẩm</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef>SKU</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.code }}
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Sản phẩm</th>
      <td class="product-row flex" mat-cell *matCellDef="let dataSource">
        <img [src]="dataSource.imageUrl" alt="" />
        {{ dataSource.title }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Loại sản phẩm</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.byCategory.title }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>Hãng</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.byBrand.name }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="inventory">
      <th mat-header-cell *matHeaderCellDef>Tồn kho</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.quanities }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Giá</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.price | priceFormat }} VNĐ
      </td>
    </ng-container>

    <ng-container matColumnDef="discountPrice">
      <th mat-header-cell *matHeaderCellDef>Giá khuyến mãi</th>
      <td mat-cell *matCellDef="let dataSource">
        {{ dataSource.discountPrice | priceFormat }} VNĐ
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Hành động</th>
      <td
        (click)="editProduct(dataSource._id)"
        mat-cell
        class="edit-product"
        *matCellDef="let dataSource"
      >
        Sửa <fa-icon [icon]="faPenToSquare"></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
