.add-product-container {
  margin: 28px 24px;
  border: 1px solid #aaa;

  .wrapper {
    margin: 10px;

    > form {
      .form-wrapper {
        width: 100%;
        display: flex;
        gap: 20px;

        .left {
          width: 70%;
          padding: 20px;
          border: 1px solid #aaa;

          .title-product {
            width: 100%;
          }

          .category-product,
          .code-product {
            width: 100%;
          }
        }

        .right {
          width: 30%;
          padding: 20px;
          border: 1px solid #aaa;

          .price-product,
          .image-product {
            width: 100%;
          }
        }
      }

      .btn-submit {
        flex-direction: row-reverse;
        margin-top: 20px;
        gap: 10px;

        button {
          padding: 10px 20px;
          background-color: #f7941d;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      > input {
        margin-top: 10px;
      }
    }
  }
}
