<div class="changePass-container">
  <div class="changePass-wrapper">
    <h1>Thay đổi mật khẩu</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <!-- CURRENT PASSWORD -->
      <div class="form-field">
        <div><label for="currentPassword">Mật khẩu hiện tại</label></div>
        <input
          type="text"
          id="currentPassword"
          formControlName="curentPassword"
        />
      </div>

      <!-- NEW PASSWORD -->
      <div class="form-field">
        <div><label for="newPassword">Mật khẩu mới</label></div>
        <input type="text" id="newPassword" formControlName="newPassword" />
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="form-field">
        <div><label for="confirmPassword">Nhập lại mật khẩu mới</label></div>
        <input
          type="text"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
      </div>
      <button type="submit">Xác nhận</button>
      <a>Quay lại</a>
    </form>
  </div>
</div>
