<app-header></app-header>
<div class="product-container">
  <ul class="product-list">
    <li *ngFor="let product of products" class="product-items">
      <div class="product-item">
        <div class="img-item" href="">
          <img [src]="product.imageUrl" alt="" />
        </div>
        <a class="title-item" href="">
          <h3 [style.color]="'#000'">{{ product.title }}</h3>
        </a>
        <div class="price-item flex">
          <span [style.color]="'red'" [style.font-size.px]="18"
            >{{ product.discountPrice | priceFormat }}
          </span>
          <i [style.color]="'red'">đ</i>
          <del>
            <span [style.margin-left.px]="'10'">{{
              product.price | priceFormat
            }}</span>
            <i>đ</i>
          </del>
        </div>
        <div class="button-item flex">
          <button class="buy-button">Mua</button>
          <button class="installment-button">Trả góp</button>
        </div>
      </div>
    </li>
  </ul>
</div>
