<app-header></app-header>
<div class="product-container">
  <ul class="product-list">
    <li class="product-items">
      <div class="product-item">
        <a class="img-item" href="">
          <img
            src="../../../assets/img/type-product/may-quay-phim.jpg"
            alt=""
          />
        </a>
        <a href="">
          <h3>title</h3>
        </a>
        <div class="price-item flex">
          <span
            >price
            <i>đ</i>
          </span>
          <span
            ><del
              >priceDiscount
              <i>đ</i>
            </del></span
          >
        </div>
        <div class="button-item flex">
          <button>Mua</button>
          <button>Trả góp</button>
        </div>
      </div>
    </li>
  </ul>
</div>
