.product-container {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;

  .product-list {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: 0px -5px 0 -5px;
    padding: 1px;
    margin-top: 20px;
    list-style: none;

    .product-items {
      padding: 0 15px;
      padding-bottom: 40px;
      width: calc((100% / 4) - 10px);
      margin: 5px 5px 5px 5px;
      border-color: #e7e7e7;
      border-style: solid;
      border-width: 1px;
      border-radius: 18px;

      .img-item {
        text-align: center;
        margin-bottom: 5px;
        background-repeat: no-repeat;
        background-size: 140px;
        font-size: 12px;
        z-index: 100;
        margin: 0 auto;

        img {
          width: 200px;
          height: 200px;
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto;
        }
      }

      .title-item {
        text-decoration: none;
      }

      .price-item {
        margin: 0 0 16px;
      }

      .button-item {
        justify-content: center;

        .buy-button {
          border: 1px solid #de2a2b;
          color: #de2a2b;
        }

        .installment-button {
          color: #0090fd;
          border: 1px solid #0090fd;
        }

        button {
          padding: 3px 10px;
          line-height: 20px;
          font-size: 12px;
          border-radius: 4px;
          margin: 0px 3px;
          text-align: center;
          width: 100px;
          background: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.product-items > .product-item > .title-item:hover > h3 {
  color: #ff4800;
}
