<div class="sidebar-container">
  <div class="sidebar-wrapper">
    <div class="sidebar-menu pointer flex" [style.gap]="'10px'">
      <fa-icon [icon]="faBars"></fa-icon>
      <div [style.font-size]="'30px'">Menu</div>
    </div>

    <mat-divider></mat-divider>
    <div class="nav-items">
      <a
        (click)="handleProductHidden()"
        class="nav-item flex pointer"
        [style.gap]="'10px'"
        [routerLink]="'products'"
      >
        <div class="nav-item-title">Sản Phẩm</div>
      </a>
      <mat-divider></mat-divider>
    </div>
    <div class="nav-items">
      <a
        (click)="handleBillHidden()"
        class="nav-item flex pointer"
        [style.gap]="'10px'"
        [routerLink]="'bills'"
      >
        <div class="nav-item-title">Hoá đơn</div></a
      >
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
