<app-header [cartItems]="cartItems"></app-header>
<div class="cart-wrapper">
  <div class="cart-container">
    <!-- LEFT SIDE -->
    <div class="left-side">
      <h3>THÔNG TIN GIỎ HÀNG</h3>
      <table class="cart-summary">
        <thead>
          <tr>
            <th class="cart-product">Hình ảnh</th>
            <th class="cart-description">Sản phẩm</th>
            <th class="price">Đơn giá</th>
            <th class="action">
              <div (click)="deleteAllItems()">
                <fa-icon [style.color]="'red'" [icon]="faTrash"></fa-icon>
              </div>
            </th>
          </tr>
        </thead>

        <tbody *ngFor="let item of cartItems">
          <tr id="cart-row">
            <td class="cart-product">
              <a href="">
                <img [src]="item.imageUrl" alt="" />
              </a>
            </td>
            <td class="cart-description">
              <a class="product-name">{{ item.title }}</a>
            </td>
            <td class="price">
              <div [style.flex-direction]="'column'" class="flex">
                <del>
                  <strong
                    *ngIf="item.discountPrice != null"
                    [style.color]="'red'"
                    >{{ item.price | priceFormat }} VNĐ</strong
                  >
                </del>
                <strong *ngIf="item.discountPrice == null" [style.color]="'red'"
                  >{{ item.price | priceFormat }} VNĐ</strong
                >
                <strong [style.color]="'red'"
                  >{{ item.discountPrice | priceFormat }} VNĐ</strong
                >
              </div>
              <div class="cart-quantity">
                <button
                  (click)="minusCartQuantity($event, item.productId)"
                  class="cart-qty-minus"
                >
                  -
                </button>
                <input type="text" min="1" [value]="item.quanities" />
                <button
                  (click)="plusCartQuantity($event, item.productId)"
                  class="cart-qty-plus"
                >
                  +
                </button>
              </div>
            </td>
            <td class="action">
              <div
                [style.cursor]="'pointer'"
                (click)="deleteEachItem($event, item.productId)"
              >
                <fa-icon
                  [style.color]="'red'"
                  [icon]="faCalendarXmark"
                ></fa-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <tr class="flex" [style.width]="'100%'">
        <td [style.text-align]="'right'" [style.width]="'70%'">
          <strong>TỔNG TIỀN</strong>
        </td>
        <td [style.text-align]="'right'" [style.width]="'25%'" id="total-price">
          <strong [style.color]="'red'"
            >{{ getTotalPrice() | priceFormat }}VNĐ</strong
          >
        </td>
      </tr>
    </div>

    <!-- RIGHT SIDE -->
    <app-right-cart
      (submitForm)="handleFormSubmission($event)"
    ></app-right-cart>
  </div>
</div>
